.coverContainer {
   background: #252525;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 30px;
   height: 330px;
   position: relative;
   z-index: 1;
}

.coverContainer:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
}
.imageWrapper {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.cover {
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
   background: #252525;
}
.textWrapper {
   z-index: 3;
   max-width: 1200px;
   position: absolute;
   padding: 8px 24px;
   display: flex;
   flex-direction: column;
}

.title {
   font-size: 48px;
   color: #d5b981;
}
